server:
  port: 8080
spring:
  cloud:
    gateway:
      # CORS Configuration
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
            allowedMethods:
              - "*"
            allowedHeaders:
              - "*"
            allowCredentials: true

      routes:
        - id: user-service
          uri: http://user-service:8083
          predicates:
            - Path=/api/auth/**,/api/v1/users/**
          filters:
            - StripPrefix=0

        - id: document-service
          uri: http://document-service:8084
          predicates:
            - Path=/api/v1/documents/**
          filters:
            - StripPrefix=0

        - id: verification-services
          uri: http://verification-service:8085
          predicates:
            - Path=/api/v1/verify/**
          filters:
            - StripPrefix=0

        - id: audit-services
          uri: http://audit-service:8086
          predicates:
            - Path=/api/v1/audit/**
          filters:
            - StripPrefix=0